################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StringToFilesEPBM
/..zip
/PROJECT_MIGRATION_LOG.txt
